body {
    margin: 0px;
}

section.fond {
    display: flex;
    justify-content: space-evenly;
    height: 965px;
}


section.core {
    display: flex;
}

section.presentation {
    width: 500px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    align-items: flex-start;
}
section.image {
    display: flex;
    align-items: flex-end;
}