html, body {
    margin: 0;
    height: 100%;
}

section.fond {
    display: flex;
    justify-content: space-evenly;
    height: 965px;
    margin: 0;
    height: 100%;
}


section.core {
    display: flex;
}

h1,
h3,
h4 {
    margin: 10px;
    color: rgb(131, 68, 105);
}

h2 {
    color: rgb(66, 114, 83);
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 50px
}

p {
    margin: 2px;
}
section.presentation {
    width: 500px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    align-items: flex-start;
}
section.image {
    display: flex;
    align-items: flex-end;
}